APP_NAME=wildhack-transport-planner
APP_ENV=prod
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
DEFAULT_MODEL_PROFILE=latest_lb
ARTIFACTS_DIR=./artifacts
INFO_DIR=./info_for_codex
ARTIFACTS_GDRIVE_URL=https://drive.google.com/drive/folders/1eCMotnRsqOYSVd-BhQEX-ZgewIeNJwwn?usp=sharing
